<div class="loading">Loading&#8230;</div>
<div class="social-nav">
   <ul>
      <li><a href="https://www.facebook.com/tsokkos.hotels/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li> 
     <li><a href="https://www.instagram.com/tsokkoshotels/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/tsokkos" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
       <li><a href="https://plus.google.com/101938285216368951505/" target="_blank"><i class="fa fa-google-plus"></i></a></li> 
   </ul>
   </div>
   <header class="site-header"> 
  {% include nav.html %} 
</header>
