<!DOCTYPE html>
<html ng-app="protarasApp">

  {% include head.html %}

<body>

  {% include header.html %}



<section class="inner-banner-others">

<!--Breadcrum here-->
  <div class="top-sec">
        <div class="breadcrumb-nav">  
          <ol class="breadcrumb">
            <li><a href="">Home</a></li>
			<li class="active">FAQ</li>
          </ol>
    </div> 
         <h2>FAQ</h2> 
         
     </div>

</section>
<section class="faq">
<div class="container">
  


<div class="accordion" id="accordion2">
{% region faq %}



</div>
</div>

</section>

{% include footer.html %}
{% include booking-widget.html %}
{% include scripts.html %}
</body>
</html>