<!DOCTYPE html>
<html ng-app="protarasApp">

  {% include head.html %}
 {% include scripts.html %}
<body>
{% include header.html %}

<!--Inner page hero banner here-->
<section class="inner-banner-others">
<!--Breadcrum here-->
  <div class="top-sec">
        <div class="breadcrumb-nav">  
          <ol class="breadcrumb">
            <li><a href="">Home</a></li>
            <li class="active">Press</li>    
          </ol>
    </div> 
         <h2>Press</h2> 
     </div>

</section>

<section>
	<div class="container press">
  <div class="col-md-12">
<h3 class="text-center">Existing Bookings:</h3>


<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
<p>
For any enquiries regarding existing bookings at any of our hotels please contact us on <a href="mailto:customerservice@tsokkos.com"> customerservice@tsokkos.com</a>.  Don't forget to state your booking details as well as the hotel name.</p>
    </div>
    </div>
</section>

<section class="text-center readon">
<a class="btn btn-primary" href="#">DOWNLOAD LATEST PRESS RELEASE  </a>
</section>
	
{% include footer.html %}
{% include booking-widget.html %}
{% include scripts.html %}
</body>
</html>