
<!DOCTYPE html>
<html ng-app="protarasApp">

  {% include head.html %}

  <body class="rfp-main">

  {% include header.html %}

<section class="inner-banner-rfp">

<!--Breadcrum here-->
  <div class="top-sec">
        <div class="breadcrumb-nav">  
          <ol class="breadcrumb">
            <li><a href="">Home</a></li>
      <li class="active">Request More Information</li>
          </ol>
    </div> 
         <h2>Request More  Information</h2> 
         
     </div>

</section>

<section class="container privacy">
<div class="col-md-12">
<div class="alert alert-success">
  <strong>THANK YOU!</strong> We will get in touch with you shortly.
</div>
   <div class="container">
   <div class="rfp-wrapper"> 
   <div class="contact-form">
           

       <form class="jotform-form" action="https://submit.jotform.me/submit/62151875977469/" method="post" name="form_62151875977469" id="62151875977469" accept-charset="utf-8"> <input type="hidden" name="formID" value="62151875977469" /> <div class="form-all"> 
       <div class="two-fields-holder">            
          <div class="col-sm-6 no-padding">
              <div class="form-group right-space">
              <input type="text" class="form-control" data-type="input-textbox" id="input_3" name="q3_nameOf" size="20" value="" placeholder="NAME OF BRIDE" required="required"> 
              </div>
          </div>
           <div class="col-sm-6 no-padding"> 
               <div class="form-group left-space">
                <input type="text" class="form-control" id="input_4" name="q4_nameOf4" size="20" value="" placeholder="NAME OF GROOM" required="required">
              </div>
          </div>
       </div>    
       <div class="two-fields-holder">            
          <div class="col-sm-6 no-padding">
              <div class="form-group right-space">
               <input type="email" class="form-control"  id="input_5" name="q5_email" size="30" value="" placeholder="EMAIL" required="required"> 
              </div>
          </div>
           <div class="col-sm-6 no-padding"> 
               <div class="form-group left-space">
                 <input class="form-control" data-type="tel" id="input_17" name="q17_phone" size="13" value="" placeholder="PHONE" required="required">
              </div>
          </div>
       </div> 
        <div class="two-fields-holder">            
          <div class="col-sm-6 no-padding">
              <div class="form-group right-space">
               <select class="form-control"  id="input_7" name="q7_year"> <option value=""> Year </option> <option value="2016"> 2016 </option> <option value="2017"> 2017 </option> <option value="2018"> 2018 </option> <option value="2019"> 2019 </option> <option value="2020"> 2020 </option> <option value="2021"> 2021 </option> </select>  
              </div>
          </div>
           <div class="col-sm-6 no-padding"> 
               <div class="form-group left-space">
                <select  class="form-control"  id="input_8" name="q8_hotelamp"> <option value=""> Select Hotel & Resort </option> 
               <optgroup label="AIYANAPA">
                 <option value="Dome Beach Hotel &amp; Resort"> THE DOME BEACH HOTEL & RESORT </option>  
               </optgroup>
               
                <optgroup label="PROTARAS">
                 <option value="THE MARLITA BEACH HOTEL">THE MARLITA BEACH HOTEL  </option> 
                 <option value="THE ODESSA HOTEL"> THE ODESSA HOTEL </option> <option value="CONSTANTINOS THE GREAT"> CONSTANTINOS THE GREAT </option> <option value="VRISSIANA BEACH HOTEL">VRISSIANA BEACH HOTEL </option>
                
                 <option value="VRISSIANA BEACH HOTEL"> SILVER SANDS HOTEL</option> 
                </optgroup>
                <optgroup label="PAPHOS">
                <option value="Ascos Coral Beach Hotel"> THE ASCOS CORAL BEACH </option> <option value="King Evelthon Beach Hotel and Resort"> THE KING EVELTHON HOTEL & RESORT </option> 
                </optgroup>
                </select> 

              </div>
          </div>
       </div> 
        <div class="two-fields-holder">            
          <div class="col-sm-6 no-padding">
              <div class="form-group right-space">
               <input type="text" class="form-control date1" data-type="input-textbox" id="input_14" name="q14_date1" size="20" value="" placeholder="DATE 1" required="required"/>
              </div>
          </div>
           <div class="col-sm-6 no-padding"> 
               <div class="form-group left-space">
                 <input type="text" class="form-control date2" data-type="input-textbox" id="input_15" name="q15_date2" size="20" value=""  placeholder="DATE 2" />
              </div>
          </div>
       </div> 
       <div class="two-fields-holder">            
          <div class="col-sm-6 no-padding">
              <div class="form-group right-space">
               <input type="text" class="form-control date3" data-type="input-textbox" id="input_16" name="q16_date3" size="20" value=""  placeholder="DATE 3"  /> 
              </div>
          </div>
           <div class="col-sm-6 no-padding"> 
               <div class="form-group left-space">
                  <input type="text" class="form-control" data-type="input-textbox" id="input_12" name="q12_Approx" size="20" value="" placeholder="APPROX HOW MANY GUESTS" />
              </div>
          </div>
       </div>   

        <div class="two-fields-holder">   
         <div class="col-sm-12 no-padding"> 
               <div class="form-group">
               <select class="form-control"  id="input_18" name="q18_howDid"> <option value=""> How did you hear about us? </option> <option value="Search Engine"> Search Engine </option> <option value="Social Network"> Social Network </option> <option value="Advertisement"> Advertisement </option> <option value="Friend"> Friend </option> <option value="Event"> Event </option> <option value="Forum or Blog"> Forum or Blog </option> <option value="Other"> Other </option> </select>
               </div>
         </div> 
       </div>

     <button id="input_2" type="submit" class="blueBtn">SUBMIT </button> 
                          <div style="display:none"> Should be Empty: <input type="hidden" name="website" value="" /> </div>  <input type="hidden" id="simple_spc" name="simple_spc" value="62151875977469" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "62151875977469-62151875977469"; </script>
      </form>


  </div>
  </div>
  </div>

</div>
</section>
{% include footer.html %} 

{% include scripts.html %}
{% include booking-widget.html %}
</body>
</html>