<!DOCTYPE html>
<html ng-app="protarasApp">

 {% include head.html %}
 {% include scripts.html %}
<body>
{% include header.html %}

<!--Inner page hero banner here-->
<section class="inner-banner-others">

<!--Breadcrum here-->
  <div class="top-sec">
        <div class="breadcrumb-nav">  
          <ol class="breadcrumb">
            <li><a href="">Home</a></li>
                 <li class="active">Terms Of Use</li>
          </ol>
    </div> 
         <h2>Terms Of Use</h2> 
     </div>

</section>

<section class="container trms">
<div class="col-md-12">
  {% region terms_of_use %}

</div>
</section>
	
{% include footer.html %}

{% include booking-widget.html %}

{% include scripts.html %}
</body>
</html>